.part1{
    font-family: Roboto;
    background-color: #1F2937;
    height: 350px;
    color: #F9FAF6;
}

.firstContainer{
    display: flex;
    height: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: space-between; 
}

.secondContainer{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
}

.firstContainer .childOne{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}

.firstContainer .child{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
}


.firstContainer a{
    font-size: 15px;
    color: #E5E7EB;
}

.secondContainer h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 5px;
    margin-top: 0px;
}

.secondContainer p{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.secondContainer button{
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 12px; 
    width: 100px;
    height: 40px;
    font-size: 15px;
}


.part2 h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color:#1F2937;
}

.part2 .images{
    display: flex;
    justify-content: space-evenly;
    gap: 20px; 
}

.part2 .firstitem,.part2 .seconditem,.part2 .thirditem,.part2 .fourthitem{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    /* margin: 0px 50px 0px 50px; */
}

.part2 .firstitem{
    margin-left: 100px;
}

.part2 .fourthitem{
    margin-right: 100px;
}

.part2 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #3882F6;
}

.part2 p{
    font-size: 20px;
    align-items: center;
    
}

.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.part3 .item{
    font-size: 20px;
    font-weight: 300;
    padding-left: 60px;
    padding-right: 60px;
    font-style: italic;
    color: #1F2937;
}

.part4{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 25vh;
}

.part4 .item{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #3882F6;
    width: 60%;
    height: 20%;
}

.part4 .para{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part4 .paraOne{
    margin: 0px;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 24px;
}

.part4 .paraTwo{
    margin: 0px;
    color: #E5E7EB;
    font-size: 15px;
}

.part4 button{
    border-radius: 12px;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
}






